@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    margin:0px;
    border:0px;
    font-family: "Raleway";
    color:white;


}

.askquestionform{
    padding: 5rem 10rem 5rem 10rem;
    width: auto;
    margin:auto;
}


.cardquestion{
    padding: 2rem 10rem 2rem 10rem !important;
    width: auto;
    margin:auto;

}

.createstory{

    display:flex !important;
    align-items: right !important;
    justify-content: right !important;
}

.createpostarea{
    width:50%;
    margin:auto;
    display:none;
}

.storycards{
    width : 70%;
    margin:auto;
}

.posts{
    width:60%;
    margin:auto;
}


.card-header li{
    list-style: none;
    display:inline;
    margin-left:10px;
}

.bg-image{
    width:100%;


}

