{% include "header.html" %}

    <!-- <form action="/askquestion" method="post">
        <input name="title" type="text" placeholder="Question Title">
        <textarea placeholder="Description" name="description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form> -->

    <div class="askquestionform">
        <form action="/askquestion" method="post">
    <div class="mb-3">
        <label  class="form-label">Ask your Question</label>
        <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-success" >Submit</button>
    </form>
    </div>

      {% include "footer.html" %}
