<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmpowerHernow | "Empowering Women, Enhancing Lives</title>
</head>
<body>
    <nav>
        <h3 align="center">Empower her now</h3>
    </nav>

    <form action="/askquestion" method="post">
        <input name="title" type="text" placeholder="Question Title">
        <textarea placeholder="Description" name="description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>