{% include "header.html" %}
<h3 align="center">Frequently Asked Questions</h3>
<br>
<br>
{% for dict_item in data %}
<!-- <div style="border:10px">
      <h1>{{dict_item['title']}}</h1>
      <h2>{{dict_item['description']}}</h2>
      <br>
      <br>
    </div> -->


    <div class="card storycards" >
        <div class="card-header">
            <h5>Q : {{dict_item['title']}}</h2>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Answer : {{dict_item['description']}}</p>
        </div>
        <br>
        <ul class="card-header">
          <li><img src="https://img.icons8.com/material/256/bookmark-outline.png" width=40 height=40 alt=""> Save</li>
          <li><img src="https://img.icons8.com/ios-glyphs/256/share-rounded.png" width=40 height=40 alt=""> Share</li>
        </ul>
      </div>
      <br>
      <br>
{% endfor %}
{% include "footer.html" %}