{% include "header.html" %}
<br>
<br>
<h1 align=center>WhisperWise</h1>
<p align=center>Whisper your stories without getting judged</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light createstory">
    <button type="button" class="btn btn-success" onclick="addcode()">✏️Create a Story 🥷</button>

  </nav>
  
  <div class="createpostarea">
    <form action="/submitpost" method="post">
   <div class="mb-3">
    <label  class="form-label">Post Title</label>
    <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add your story title">
  </div>
  <div class="mb-3">
    <label class="form-label">Add your story of less than 200 letters</label>
    <textarea maxlength=500 name="story" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-success" >Submit</button>
</form>
</div>



<!-- old posts to show -->



{% for i in storydata %}
<br>
<div class="card storycards">
  <ul class="card-header">
    <li><img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/256/external-women-modelling-agency-flaticons-lineal-color-flat-icons.png" width=40 height=40 alt=""> anonymous</li>
  </ul>
  <div class="card-body">
    <h5 class="card-title">>{{i['storytitle']}}</h5>
    <p class="card-text">{{i['storydescription']}}</p>
    
  </div>
  <ul class="card-header">
    <li><img src="https://img.icons8.com/material-outlined/256/filled-like.png" width=40px height=40px alt=""></li>
    <li><img src="https://img.icons8.com/material-outlined/256/comments.png" width=40px height=40px alt=""></li>
  </ul>
  
</div>
<br>
{% endfor %}

{% include "footer.html" %}
